---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/h5/metadata/company-commendations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-343-Version:
      - 2.1.17300.1
      X-343-Instance:
      - 9ef604549cfd6069a887e3a6d5ce518f022d891557c6a560d3667bb84cc23ede
      X-343-Activity-Id:
      - d9d826f3-96f8-416f-a6f2-b635c240258f
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"Progressive","name":"Crunchy Center","description":"Earn
        core destruction victories in Warzone","iconImageUrl":"https://content.halocdn.com/media/Default/games/halo-5-guardians/spartan-company-commendation-icons/043-25ec90d4843e4ffaaad305bdbeabaddf.png","levels":[{"reward":{"xp":100,"requisitionPacks":[],"id":"be0d2a2d-ee4e-4554-8894-8d23ded1e4a3","contentId":"be0d2a2d-ee4e-4554-8894-8d23ded1e4a3"},"threshold":50,"id":"dc70330b-2fc2-4b4c-9e30-70825ca5ccd3","contentId":"dc70330b-2fc2-4b4c-9e30-70825ca5ccd3"},{"reward":{"xp":200,"requisitionPacks":[],"id":"3ec0ab09-1b22-4476-aebc-9f3e368f9ffb","contentId":"3ec0ab09-1b22-4476-aebc-9f3e368f9ffb"},"threshold":150,"id":"6bea2a55-802a-40ab-b0e4-326dee2eda10","contentId":"6bea2a55-802a-40ab-b0e4-326dee2eda10"},{"reward":{"xp":300,"requisitionPacks":[{"name":"Company
        Commendation Reward Pack","description":"Your achievement on the field of
        battle will not go unrewarded.","largeImageUrl":"https://image.halocdn.com:443/h5/requisition-packs/b95f26c3-7c46-481a-a350-e7ab099673b4?locale=en&width=200&hash=T4oL08Bj9GAIWzO9RFXgGsvBPyjkXoHVBz9rQptCrpw%3d","isStack":false,"isFeatured":false,"isNew":false,"creditPrice":0,"isPurchasableWithCredits":false,"isPurchasableFromMarketplace":false,"xboxMarketplaceProductId":null,"xboxMarketplaceProductUrl":null,"merchandisingOrder":400,"flair":null,"isGiftOnly":false,"giftableAcquisitionMethods":1,"stackedRequisitionPacks":[],"id":"b95f26c3-7c46-481a-a350-e7ab099673b4","contentId":"b95f26c3-7c46-481a-a350-e7ab099673b4"}],"id":"3f8327b2-7833-473e-8fb9-076c42426ebc","contentId":"3f8327b2-7833-473e-8fb9-076c42426ebc"},"threshold":300,"id":"4c0a3b88-47e8-4de4-8533-25d7a06803b2","contentId":"4c0a3b88-47e8-4de4-8533-25d7a06803b2"},{"reward":{"xp":500,"requisitionPacks":[],"id":"ffdc739c-853e-4741-87c8-9be35f40ff15","contentId":"ffdc739c-853e-4741-87c8-9be35f40ff15"},"threshold":540,"id":"8c8802df-a0e1-4f5f-a231-d7c22610[...]
