---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/h5/metadata/flexible-stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-343-Version:
      - 2.1.17300.1
      X-343-Instance:
      - 9aac05ed7551c296be6407c3403e304e381767127983ffe6f928b81c0310b10b
      X-343-Activity-Id:
      - 9f2b49f5-71ef-40cd-a1f4-7efb3b1a2c13
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Kills","type":"Count","id":"ba327946-418c-495d-90c0-89f084bf7447","contentId":"ba327946-418c-495d-90c0-89f084bf7447"},{"name":"Assists","type":"Count","id":"7dcd7306-f905-401a-97f2-345d4b25170a","contentId":"7dcd7306-f905-401a-97f2-345d4b25170a"},{"name":"Deaths","type":"Count","id":"ea38d25f-d887-4bdf-b17b-8e8e649b9a87","contentId":"ea38d25f-d887-4bdf-b17b-8e8e649b9a87"},{"name":"Bases
        Captured","type":"Count","id":"63783dc0-7c2d-436a-bd5b-22da2f4705d4","contentId":"63783dc0-7c2d-436a-bd5b-22da2f4705d4"},{"name":"Base
        Defense Kills","type":"Count","id":"d[...]
