---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/h5/metadata/game-variants/1571fdac-e0b4-4ebc-a73a-6e13001b71d3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-343-Version:
      - 2.1.17300.1
      X-343-Instance:
      - 9ef604549cfd6069a887e3a6d5ce518f022d891557c6a560d3667bb84cc23ede
      X-343-Activity-Id:
      - 591b6f13-5014-49de-8227-303e96d970c1
    body:
      encoding: ASCII-8BIT
      string: '{"name":null,"description":null,"gameBaseVariantId":null,"iconUrl":null,"id":"1571fdac-e0b4-4ebc-a73a-6e13001b71d3","contentId":"1571fdac-e0b4-4ebc-a73a-6e13001b71d3"}'
  recorded_at: Wed, 04 Aug 2021 21:06:06 GMT
recorded_with: VCR 6.0.0
