---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/h5/metadata/impulses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-343-Version:
      - 2.1.17300.1
      X-343-Instance:
      - 3d4ca80bc98546f633a2a375d61adc8289762825e46a25179c0de906cae67bbc
      X-343-Activity-Id:
      - b89cf060-582d-4999-ade4-413fa620d31b
    body:
      encoding: ASCII-8BIT
      string: '[{"internalName":"Death","id":"2521909834","contentId":"3d89f893-9059-429f-9c0f-00222b935be3"},{"internalName":"Vehicle
        Destroyed","id":"1541693844","contentId":"ac1cec3e-dfe3-495c-b191-f879311fe2e6"},{"internalName":"Defender
        Wins","id":"2596382552","contentId":"3141e9d2-ba52-4a12-83f1-5709b27afc5e"},{"internalName":"Core
        Assault Kills","id":"2512950199","contentId":"d176d623-6e72-4965-90f4-ef207039ed77"},{"internalName":"Base
        Assault Kills","id":"1718328203","contentId":"5e9b071f-524b-44a9-979e-7c6732445d45"},{"inte[...]
