---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/h5/metadata/map-variants/c93d708f-f206-11e4-a815-24be05e24f7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-343-Version:
      - 2.1.17300.1
      X-343-Instance:
      - 3855f050585fe0aa1a14255a72e606c56126587b545d62ff013e266d7c95edf7
      X-343-Activity-Id:
      - 942b077a-8bf1-4bbc-9220-7c65499623b2
    body:
      encoding: ASCII-8BIT
      string: '{"name":null,"description":null,"mapImageUrl":null,"mapId":null,"id":"c93d708f-f206-11e4-a815-24be05e24f7e","contentId":"c93d708f-f206-11e4-a815-24be05e24f7e"}'
  recorded_at: Wed, 04 Aug 2021 21:06:08 GMT
recorded_with: VCR 6.0.0
