---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/h5/metadata/team-colors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-343-Version:
      - 2.1.17300.1
      X-343-Instance:
      - 93c163cd33ab65e11b21613591905c69a65d72037265931cb98b67b4a9973ade
      X-343-Activity-Id:
      - 23f0f9e9-5a65-47ef-8b68-0be90090b7b9
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Orange Team","description":null,"color":"#9f4e19","iconUrl":"https://content.halocdn.com/media/Default/games/halo-5-guardians/team-icons/teamicons_lg_array06-8c8a75a442944c4ca2d3cf308bcce13e.png","id":"6","contentId":"b1e965d6-39b9-4371-aaf7-bb923f6c2985"},{"name":"Green
        Team","description":null,"color":"#027d1a","iconUrl":"https://content.halocdn.com/media/Default/games/halo-5-guardians/team-icons/teamicons_lg_array03-d227100971fa4b2b91911142ef82b1ba.png","id":"3","contentId":"b9d6892f-6fed-420e-a242-f03f5176a45d"},{"name":"Purple
        Team","description":null,"color":"#533377","iconUrl":"https://content.halocdn.com/media/Default/games/halo-5-guardians/team-icons/teamicons_lg_array04-7e633089ec5c[...]
