---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/h5/metadata/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-343-Version:
      - 2.1.17300.1
      X-343-Instance:
      - 9ef604549cfd6069a887e3a6d5ce518f022d891557c6a560d3667bb84cc23ede
      X-343-Activity-Id:
      - 0fc6b582-160f-4444-8d29-194fa1a1a428
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Scorpion","description":"Main battle tank armed with a heavy
        cannon and pintle-mounted heavy machine gun. This new iteration of the storied
        Scorpion is half the mass of the old M808 yet has nearly identical firepower
        and armor protection.","largeIconImageUrl":"https://content.halocdn.com/media/Default/games/halo-5-guardians/tools-of-destruction/vehicles/scorpion-6c7fb074aa1c42549a765a294e78c3c7.png","smallIconImageUrl":"https://image.halocdn.com:443/?path=https%3a%2f%2fcontent.halocdn.com%2fmedia%2fDefault%2fgames%2fhalo-5-guardians%2ftools-of-destruction%2fvehicles%2fscorpion-6c7fb074aa1c42549a765a294e78c3c7.png&width=332&hash=%2fCkx7J14PgzU9QjJ5ndSwhhMk0%2bTZa6nlpEndWfyTHc%3d","isUsableByPlayer":true,"id":"1730553442","contentId":"c7e2f6aa-b86c-4131-b5d7-71bb35fcd0c4"},{"name":"Phaeton","description":null,"largeIconImageUrl":"https://content.halocdn.com/media/Default/games/halo-5-guardians/tools-of-destruction/vehicles/vtol-5c02f48bfdf246c0aab7f738687b5744.png","smallIconImageUrl":"https://image.halocdn.com:443/?path=https%3a%2f%2fcontent.halocdn.com%2fmedia%2fDefault%2fgames%2fhalo-5-guardians%2ftools-of-destruction%2fvehicles%2fvtol-5c02f48bfdf246c0aab7f738687b5744.png&width=332&hash=p%2b56GNOiSUDlhjfn%2ffB2d457Le7Vdw7[...]
