---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/ugc/h5/players/xarly%20bovi/mapvariants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "statusCode": 500, "message": "Internal server error", "activityId":
        "97c3fd4d-061f-4d4f-a531-80fa8348cd6f" }'
  recorded_at: Wed, 04 Aug 2021 21:08:55 GMT
recorded_with: VCR 6.0.0
