---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/ugc/h5/players/xarly%20bovi/gamevariants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "statusCode": 500, "message": "Internal server error", "activityId":
        "2cc9aa3b-76f2-47fb-836a-f63feb157763" }'
  recorded_at: Wed, 04 Aug 2021 21:08:54 GMT
recorded_with: VCR 6.0.0
