---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/hw2/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - '"LhImxUAKxC0z74Z1SQ3kDW0dtdc="'
      E2eactivity:
      - etV1JOMrekCujBOuvE9HOQ==,etV1JOMrekCujBOuvE9HOQ==
      X-343-Authorization-Policy:
      - public
      X-Last-Rendered-At:
      - '2017-12-13T23:18:11.8253030Z'
      X-Last-Rendered-Item:
      - '202916'
    body:
      encoding: UTF-8
      string: '{"Paging":{"StartAt":0,"InlineCount":100,"TotalCount":273},"ContentItems":[{"Id":352159,"Type":"HW2Card","View":{"Status":"Published","Common":{"Owner":"jokonkle","CreatedUtc":"2017-01-12T15:31:03Z","ModifiedUtc":"2017-09-26T22:11:52Z","PublishedUtc":"2017-09-26T22:11:52Z","Container":-1},"Identity":"4163648de8c94a078244f401936f75ae","Title":"DLC4_UNIT_BNSH_ELITE_ASSAULT_TEAM","HW2Card":{"Rarity":1,"Entitlement":{"Id":202925,"Type":"Entitlement","Identity":"f7c62fbc287b4ab082f02ee54ef4c118"},"EntitlementRequired":true,"ExcludeFromCardGeneration":false,"Faction":"Banished","Leader":{"Id":352151,"Type":"HW2Leader","Identity":"e6b2b24fcdb34ff4b6c78f76b14cebf9"},"ForegroundImage":{"Id":352239,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"sgordon","CreatedUtc":"2017-06-13T21:30:44Z","ModifiedUtc":"2017-06-28T18:13:36Z","PublishedUtc":"2017-06-28T18:13:37Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/games/halo-wars-2/cards/foreground/[rm]rostercard_elite_assault_team-7cea39501b1d4c8599591df0a7dffe0e.jpg","MimeType":"image/jpeg","Caption":"","AlternateText":"","FolderPath":"games/halo-wars-2/cards/foreground","FileName":"[rm]rostercard_elite_assault_team-7cea39501b1d4c8599591df0a7dffe0e.jpg"},"Image":{"Width":1896,"Height":1351},"Title":"[rm]rostercard_elite_assault_team-7cea39501b1d4c8599591df0a7dffe0e","Identity":"326d90052bbb49139594a9fadd2b76c0"}},"DisplayInfo":{"Id":351287,"Type":"HW2CardDisplayInfo","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-06-06T10:31:45Z","ModifiedUtc":"2017-06-28T16:36:50Z","PublishedUtc":"2017-08-25T11:18:19Z","Container":-1},"Identity":"1f18eede64284926b7709ee4df0cc9c8","BatchLocalization":{"IsLocked":false},"Localization":{"Culture":"en","MasterContentItemId":""},"Title":"Elite
        Enforcers Display Info","HW2CardDisplayInfo":{"Name":"Elite Enforcers","Description":"","SubtypeDescription":"ANTI-BUILDING","SpecialAbilityName":"Stasis
        Grenade Throw","SpecialAbilityDescription":"Tosses a grenade at an enemy unit
        to deal damage and trap them within a stasis field."}}},"GameObject":{"Id":352082,"Type":"HW2Object","Identity":"ace62aedddc84d9c91cc28c4a410f60f","Autoroute":"hw2/objects/cov_inf_rm_eliteassaultteam_01"},"LastStandNumber":null,"EnergyCost":40,"PlayType":"Unit","Keywords":[{"Id":337112,"Type":"HW2CardKeyword","Identity":"e41c2cc5c2e94c578e0c1ab3ff1687f5","Autoroute":"hw2/CardKeywords/Shield"}]},"Autoroute":"hw2/card/4163648de8c94a078244f401936f75ae"},"Links":[{"Absolute":false,"Relation":"Self","URI":"/content/352159"}],"ChildrenCount":0},{"Id":360233,"Type":"HW2Card","View":{"Status":"Published","Common":{"Owner":"v-jamgr","CreatedUtc":"2017-05-08T11:28:24Z","ModifiedUtc":"2017-09-25T18:04:41Z","PublishedUtc":"2017-09-25T18:04:41Z","Container":-1},"Identity":"d0272d983702477180a95ace88d3fde8","Title":"EP2_POWER_BNSH_REGEN_SIPHONS","HW2Card":{"Rarity":2,"Entitlement":{"Id":202916,"Type":"Entitlement","Identity":"305968eb7cfc4568b186c2ca50064418"},"EntitlementRequired":true,"ExcludeFromCardGeneration":false,"Faction":"Banished"[...]
