---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/hw2/game-objects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - '"pYPmSRyvdxh/rGqhkXeQvJDjv7w="'
      E2eactivity:
      - D9DUokCFxUm9IwovdAQXMw==,D9DUokCFxUm9IwovdAQXMw==
      X-343-Authorization-Policy:
      - public
      X-Last-Rendered-At:
      - '2017-09-29T19:05:31.5291993Z'
      X-Last-Rendered-Item:
      - '361261'
    body:
      encoding: UTF-8
      string: '{"Paging":{"StartAt":0,"InlineCount":100,"TotalCount":377},"ContentItems":[{"Id":360035,"Type":"HW2Object","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-09-05T09:48:51Z","ModifiedUtc":"2017-09-29T19:04:57Z","PublishedUtc":"2017-09-29T19:04:57Z","Container":-1},"Identity":"920ea56c052f4b11bf8cc9be01284fac","Autoroute":"hw2/objects/cov_veh_corruptedscarab_01","Title":"VOLATILE
        SCARAB","HW2Object":{"ObjectTypeId":"cov_veh_corruptedscarab_01","DisplayInfo":{"Id":358845,"Type":"HW2ObjectDisplayInfo","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-09-05T09:48:46Z","ModifiedUtc":"2017-09-25T17:45:07Z","PublishedUtc":"2017-09-25T17:45:07Z","Container":-1},"Identity":"fdab0a6daec64401bcb19578d843fdaa","BatchLocalization":{"IsLocked":false},"Localization":{"Culture":"en","MasterContentItemId":""},"Title":"VOLATILE
        SCARAB Display Info","HW2ObjectDisplayInfo":{"Name":"VOLATILE SCARAB","Description":"Very
        high damage. Beam creates pools of infused gel. Can briefly shield itself
        from damage. Slow moving. Very heavy armor. Traverses all terrain"}}},"Categories":[{"Id":335010,"Type":"HW2ObjectCategory","Identity":"d427e68dd3f6438fb93f51e146639304","Autoroute":"hw2/object-categories/d427e68d-d3f6-438f-b93f-51e146639304"}],"Image":{"Id":361263,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"kpaul","CreatedUtc":"2017-09-29T19:04:39Z","ModifiedUtc":"2017-09-29T19:04:39Z","PublishedUtc":"2017-09-29T19:04:39Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/games/halo-wars-2/unit-icons/cov_veh_corruptedscarab_01_icon-771bcc3a23094b4683d03cdc39061b64.png","MimeType":"image/png","Caption":"","AlternateText":"","FolderPath":"games/halo-wars-2/unit-icons","FileName":"cov_veh_corruptedscarab_01_icon-771bcc3a23094b4683d03cdc39061b64.png"},"Image":{"Width":256,"Height":256},"Title":"cov_veh_corruptedscarab_01_icon-771bcc3a23094b4683d03cdc39061b64","Identity":"12a37421957548d4b8326694f4ea4419"}},"StandardSupplyCost":2000,"StandardPopulationCost":40,"StandardEnergyCost":2000,"EffectivenessAgainstInfantry":"Good","EffectivenessAgainstVehicles":"Good","EffectivenessAgainstAir":"Neutral"}},"Links":[{"Absolute":false,"Relation":"Self","URI":"/content/360035"}],"ChildrenCount":0},{"Id":360072,"Type":"HW2Object","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-09-05T09:47:27Z","ModifiedUtc":"2017-09-29T19:03:52Z","PublishedUtc":"2017-09-29T19:03:52Z","Container":-1},"Identity":"62862d654bd54ff4a2abec0a2c3b10d4","Autoroute":"hw2/objects/cov_inf_rm_corruptedwarlord_01","Title":"VORIDUS","HW2Object":{"ObjectTypeId":"cov_inf_rm_corruptedwarlord_01","DisplayInfo":{"Id":358886,"Type":"HW2ObjectDisplayInfo","View":{"Status":"Published","Common":{"O[...]
