---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/hw2/game-object-categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - '"ioQWDP7PXF+APMu8VBxZgWsOdI4="'
      E2eactivity:
      - Ig5ua8QOTUivKMpyP43odA==,Ig5ua8QOTUivKMpyP43odA==
      X-343-Authorization-Policy:
      - public
      X-Last-Rendered-At:
      - '2017-02-09T09:59:24.8871261Z'
      X-Last-Rendered-Item:
      - '337339'
    body:
      encoding: UTF-8
      string: '{"Paging":{"StartAt":0,"InlineCount":8,"TotalCount":8},"ContentItems":[{"Id":337340,"Type":"HW2ObjectCategory","View":{"Status":"Published","Common":{"Owner":"v-caarse","CreatedUtc":"2016-09-13T16:45:48Z","ModifiedUtc":"2017-02-04T01:30:41Z","PublishedUtc":"2017-02-04T01:30:41Z","Container":-1},"Identity":"4e4139319fe34339a2e691ae49970771","Title":"Anti-Infantry
        [obj category]","Autoroute":"hw2/object-category/4e4139319fe34339a2e691ae49970771"},"Links":[{"Absolute":false,"Relation":"Self","URI":"/content/337340"}],"ChildrenCount":0},{"Id":337341,"Type":"HW2ObjectCategory","View":{"Status":"Published","Common":{"Owner":"edostrov","CreatedUtc":"2016-09-14T09:24:41Z","ModifiedUtc":"2017-02-04T01:30:41Z","PublishedUtc":"2017-02-04T01:30:41Z","Container":-1},"Identity":"77dda04524a34da5b274a153ce4d7ca1","Title":"Infantry[obj
        category]","Autoroute":"hw2/object-category/77dda04524a34da5b274a153ce4d7ca1"},"Links":[{"Absolute":false,"Relation":"Self","URI":"/content/337341"}],"ChildrenCount":0},{"Id":337342,"Type":"HW2Obj[...]
