---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/hw2/leader-powers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - '"VewaKzq8n60kyjoWgftsHQ4GXig="'
      E2eactivity:
      - UIoTUTLYakqZXgxlfGLLwg==,UIoTUTLYakqZXgxlfGLLwg==
      X-343-Authorization-Policy:
      - public
      X-Last-Rendered-At:
      - '2017-09-25T18:09:36.3114452Z'
      X-Last-Rendered-Item:
      - '359756'
    body:
      encoding: UTF-8
      string: '{"Paging":{"StartAt":0,"InlineCount":100,"TotalCount":273},"ContentItems":[{"Id":360169,"Type":"HW2LeaderPower","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-09-05T10:21:10Z","ModifiedUtc":"2017-09-25T18:04:27Z","PublishedUtc":"2017-09-25T18:04:28Z","Container":-1},"Identity":"c6c6d03e2ee34cc6a9d8d1ccf0629958","Title":"COMBAT
        SPOILS II","Autoroute":"hw2/leaderpower/CorruptedPillage2","HW2LeaderPower":{"ObjectTypeId":"CorruptedPillage2","DisplayInfo":{"Id":359723,"Type":"HW2LeaderPowerDisplayInfo","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-09-05T10:21:10Z","ModifiedUtc":"2017-09-25T17:50:05Z","PublishedUtc":"2017-09-25T17:50:05Z","Container":-1},"Identity":"1eba34ce6aaf41a78c6b64df3de1b597","BatchLocalization":{"IsLocked":false},"Localization":{"Culture":"en","MasterContentItemId":""},"Title":"COMBAT
        SPOILS II Display Info","HW2LeaderPowerDisplayInfo":{"Name":"COMBAT SPOILS
        II","Description":"Units now scavenge more resources from enemy buildings
        they damage."}}},"Image":{}}},"Links":[{"Absolute":false,"Relation":"Self","URI":"/content/360169"}],"ChildrenCount":0},{"Id":360142,"Type":"HW2LeaderPower","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-09-05T10:21:11Z","ModifiedUtc":"2017-09-25T18:04:24Z","PublishedUtc":"2017-09-25T18:04:24Z","Container":-1},"Identity":"d61e35e60cf94f66a0b1543aee889e48","Title":"INFUSION
        TECH I","Autoroute":"hw2/leaderpower/CorruptedPoolbuff1","HW2LeaderPower":{"ObjectTypeId":"CorruptedPoolbuff1","DisplayInfo":{"Id":359751,"Type":"HW2LeaderPowerDisplayInfo","View":{"Status":"Published","[...]
