---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/hw2/maps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - '"kL97QnuwPSstJ6F10Hbejci1Gas="'
      E2eactivity:
      - HIYaGvDWhUO6zAEtdSP8xw==,HIYaGvDWhUO6zAEtdSP8xw==
      X-343-Authorization-Policy:
      - public
      X-Last-Rendered-At:
      - '2019-02-25T23:18:06.6628579Z'
      X-Last-Rendered-Item:
      - '385048'
    body:
      encoding: UTF-8
      string: '{"Paging":{"StartAt":0,"InlineCount":15,"TotalCount":15},"ContentItems":[{"Id":385049,"Type":"HW2Map","View":{"Status":"Published","Common":{"Owner":"edostrov","CreatedUtc":"2019-02-07T22:31:23Z","ModifiedUtc":"2019-02-25T23:18:06Z","PublishedUtc":"2019-02-25T23:18:06Z","Container":-1},"Identity":"670bb7dbcdaf4b308c04558c1360709b","Title":"FORT
        JORDAN","HW2Map":{"ID":"skirmish\\design\\fort_jordan\\fort_jordan","DisplayInfo":{"Id":385047,"Type":"HW2MapDisplayInfo","View":{"Status":"Published","Common":{"Owner":"edostrov","CreatedUtc":"2019-02-07T22:35:03Z","ModifiedUtc":"2019-02-25T23:18:04Z","PublishedUtc":"2019-02-25T23:18:04Z","Container":-1},"Identity":"9552d99a073e46599519be870199a670","BatchLocalization":{"IsLocked":false},"Localization":{"Culture":"en","MasterContentItemId":""},"Title":"Fort
        Jordan Display Info","HW2MapDisplayInfo":{"Name":"FORT JORDAN","Description":""}}},"Image":{"Id":385048,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"v-major","CreatedUtc":"2019-02-20T20:29:00Z","ModifiedUtc":"2019-02-25T23:18:05Z","PublishedUtc":"2019-02-25T23:18:05Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/games/halo-wars-2/maps/hw2-map-fort_jordan-18ef39c3707e4f7698c479066f59c504.jpg","MimeType":"image/jpeg","Caption":"","AlternateText":"","FolderPath":"games/halo-wars-2/maps","FileName":"hw2-map-fort_jordan-18ef39c3707e4f7698c479066f59c504.jpg"},"Image":{"Width":1920,"Height":1080},"Title":"hw2-map-fort_jordan-18ef39c3707e4f7698c479066f59c504","Identity":"4f0e08f4c3da4c26a4157715692b2a4f"}}}},"Links":[{"Absolute":false,"Relation":"Self","URI":"/content/385049"}],"ChildrenCount":0},{"Id":350164,"Type":"HW2Map","View":{"Status":"Published","Common":{"Owner":"v-danbre","CreatedUtc":"2017-03-27T09:46:15Z","ModifiedUtc":"2017-09-26T22:41:05Z","PublishedUtc":"2017-09-26T22:41:05Z","Container":-1},"Identity":"5e4652ae6dde4d788c43849703ea1151","Title":"Infinite
        Coast Reskin Night","HW2Map":{"ID":"rostermode\\design\\RM_EvenFlowNight\\RM_EvenFlowNight","DisplayInfo":{"Id":350099,"Type":"HW2MapDisplayInfo","View":{"Status":"Published","Common":{"Owner":"edostrov","Create[...]
