---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/hw2/matches/99827423-b70e-457f-9f87-c81b38ca9061/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - cZAvpcACFUSihHVXEbGyRQ==
    body:
      encoding: ASCII-8BIT
      string: '{"GameEvents":[{"MatchId":"99827423-b70e-457f-9f87-c81b38ca9061","GameMode":3,"MatchType":3,"MapId":"skirmish\\design\\MP_Boneyard\\MP_Boneyard","PlaylistId":"282fc197-7bf1-4865-81ec-a312d07567b6","TeamSize":3,"IsDefaultRuleSet":true,"TimeSinceStartMilliseconds":0,"EventName":"MatchStart"},{"PointId":"hook_bldg_EnergyCapturePoint_01","InstanceId":1,"Location":{"x":471.8375,"y":63.71875,"z":768.1039},"TimeSinceStartMilliseconds":0,"EventName":"PointCreated"},{"PointId":"hook_bldg_EnergyCapturePoint_01","InstanceId":2,"Location":{"x":767.9678,"y":64.0624,"z":554.173},"TimeSinceStartMilliseconds":0,"EventName":"PointCreated"},{"PointId":"hook_bldg_EnergyCapturePoint_01","InstanceId":3,"Location":{"x":767.9082,"y":63.5682,"z":776.549},"TimeSinceStartMilliseconds":0,"EventName":"PointCreated"},{"PointId":"hook_bldg_EnergyCapturePoint_01","InstanceId":4,"Location":{"x":1067.311,"y":63.53125,"z":767.5488},"TimeSinceStartMilliseconds":0,"EventName":"PointCreated"},{"PointId":"hook_bldg_EnergyCapturePoint_01","InstanceId":5,"Location":{"x":767.8737,"y":64.2453,"z":1008.602},"TimeSinceStartMilliseconds":0,"EventName":"PointCreated"},{"PlayerIndex":0,"PlayerType":3,"HumanPlayerId":null,"ComputerPlayerId":0,"ComputerDifficulty":2,"TeamId":0,"LeaderId":0,"TimeSinceStartMilliseconds":0,"EventName":"PlayerJoinedMatch"},{"PlayerIndex":1,"PlayerType":1,"HumanPlayerId":{"Gamertag":"FiftiethFiber13","Xuid":null},"ComputerPlayerId":0,"ComputerDifficulty":0,"TeamId":1,"LeaderId":14,"TimeSinceStartMilliseconds":0,"EventName":"PlayerJoinedMatch"},{"PlayerIndex":2,"PlayerType":1,"HumanPlayerId":{"Gamertag":"A
        Kook God","Xuid":null},"ComputerPlayerId":0,"ComputerDifficulty":0,"TeamId":1,"LeaderId":8,"TimeSinceStartMilliseconds":0,"EventName":"PlayerJoinedMatch"},{"PlayerIndex":3,"PlayerType":1,"HumanPlayerId":{"Gamertag":"ScurvyTangent0","Xuid":null},"ComputerPlayerId":0,"ComputerDifficulty":0,"TeamId":1,"LeaderId":12,"TimeSinceStartMilliseconds":0,"EventName":"PlayerJoinedMatch"},{"PlayerIndex":4,"PlayerType":1,"HumanPlayerId":{"Gamertag":"somescrub54","Xuid":null},"ComputerPlayerId":0,"ComputerDifficulty":0,"TeamId":2,"LeaderId":11,"TimeSinceStartMilliseconds":0,"EventName":"PlayerJoinedMatch"},{"PlayerIndex":5,"PlayerType":1,"HumanPlayerId":{"Gamertag":"LegionGlyph","Xuid":null},"ComputerPlayerId":0,"ComputerDifficulty":0,"TeamId":2,"LeaderId":11,"TimeSinceStartMilliseconds":0,"EventName":"PlayerJoinedMatch"},{"PlayerIndex":6,"PlayerType":1,"HumanPlayerId":{"Gamertag":"High
        Guderian","Xuid":null},"ComputerPlayerId":0,"ComputerDifficulty":0,"TeamId":2,"LeaderId":11,"TimeSinceStartMilliseconds":0,"EventName":"PlayerJoinedMatch"},{"PlayerIndex":7,"PlayerType":3,"HumanPlayerId":null,"ComputerPlayerId":7,"ComputerDifficulty":2,"TeamId":3,"LeaderId":5,"TimeSinceStartMilliseconds":0,"EventName":"PlayerJoinedMatch"},{"PlayerIndex":1,"BuildingId":"cov_bldg_builder_02","InstanceId":6,"Location":{"x":894.6911,"y":82.25,"z":342.2499},"SupplyCost":500,"EnergyCost":600,"QueueLength":0,"ProvidedByScenario":true,"TimeSinceStartMilliseconds":0,"EventName":"BuildingConstructionQueued"},{"PlayerIndex":1,"SquadId":"cov_inf_gruntswarm_01","InstanceId":7,"CreatorInstanceId":0,"SpawnLocation":{"x":878.3505,"y":81.88441,"z":390.550873},"SupplyCost":0,"EnergyCost":0,"PopulationCost":2,"IsClone":false,"ProvidedByScenario":true,"TimeSinceStartMilliseconds":0,"EventName":"UnitTrained"},{"PlayerIndex":1,"SquadId":"cov_inf_gruntswarm_01","InstanceId":8,"CreatorInstanceId":0,"SpawnLocation":{"x":869.690552,"y":82.25,"z":385.550873},"SupplyCost":0,"EnergyCost":0,"PopulationCost":2,"IsClone":false,"ProvidedByScenario":true,"TimeSinceStartMilliseconds":0,"EventName":"UnitTrained"},{"PlayerIndex":1,"SquadId":"cov_inf_gruntswarm_01","InstanceId":9,"CreatorInstanceId":0,"SpawnLocation":{"x":864.69[...]
