---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/hw2/matches/99827423-b70e-457f-9f87-c81b38ca9061
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - P966EFK0QEuhI3zxEjMDzQ==
    body:
      encoding: ASCII-8BIT
      string: '{"MatchId":"99827423-b70e-457f-9f87-c81b38ca9061","MatchType":3,"GameMode":3,"SeasonId":null,"PlaylistId":"282fc197-7bf1-4865-81ec-a312d07567b6","MapId":"skirmish\\design\\MP_Boneyard\\MP_Boneyard","IsMatchComplete":true,"MatchEndReason":1,"VictoryCondition":1,"MatchStartDate":{"ISO8601Date":"2021-07-12T22:44:57.457Z"},"MatchDuration":"PT1M36.854S","Teams":{"1":{"TeamSize":3,"MatchOutcome":2,"ObjectiveScore":0},"2":{"TeamSize":3,"MatchOutcome":1,"ObjectiveScore":0}},"Players":{"1":{"IsHuman":true,"HumanPlayerId":{"Gamertag":"FiftiethFiber13","Xuid":null},"ComputerPlayerId":null,"ComputerDifficulty":null,"TeamId":1,"TeamPlayerIndex":0,"LeaderId":14,"PlayerCompletedMatch":false,"TimeInMatch":"PT1M31.744S","PlayerMatchOutcome":2,"PointStats":{},"UnitStats":{"cov_inf_gruntswarm_01":{"TotalBuilt":5,"TotalLost":1,"TotalDestroyed":0},"cov_inf_gruntswarm_01_frommine":{"TotalBuilt":2,"TotalLost":0,"TotalDestroyed":0}},"CardStats":{},"WaveStats":{},"LeaderPowerStats":{"Grunt_AmbushMine1":{"TimesCast":1},"CovAmbushGrunts_01":{"TimesCast":1}},"XPProgress":{"PreviousTotalXP":253656,"GameplayXP":0,"ChallengesXP":0,"UpdatedTotalXP":253656,"CompletedSpartanRanks":[],"RanksCompleted":[]},"RatingProgress":{"PreviousCsr":null,"UpdatedCsr":null,"PreviousMmr":{"Rating":1.2671740800272915,"Variance":0.096469735918145769,"LastModifiedDate":{"ISO8601Date":""}},"UpdatedMmr":{"Rating":1.2498947062115973,"Variance":0.096185004450912229,"LastModifiedDate":{"ISO8601Date":""}}}},"2":{"IsHuman":true,"HumanPlayerId":{"Gamertag":"A
        Kook God","Xuid":null},"ComputerPlayerId":null,"ComputerDifficulty":null,"TeamId":1,"TeamPlayerIndex":1,"LeaderId":8,"PlayerCompletedMatch":false,"TimeInMatch":"PT1M28.982S","PlayerMatchOutcome":2,"PointStats":{},"UnitStats":{"unsc_veh_mongoose_01":{"TotalBuilt":1,"TotalLost":1,"TotalDestroyed":0},"unsc_inf_generic_marine":{"TotalBuilt":0,"TotalLost":1,"TotalDestroyed":0}},"CardStats":{},"WaveStats":{},"LeaderPowerStats":{},"XPProgress":{"PreviousTotalXP":334920,"GameplayXP":0,"ChallengesXP":0,"UpdatedTotalXP":334920,"CompletedSpartanRanks":[],"RanksCompleted":[]},"RatingProgress":{"PreviousCsr":null,"UpdatedCsr":null,"PreviousMmr":{"Rating":1.4062080849511305,"Variance":0.0965186885673363,"LastModifiedDate":{"ISO8601Date":""}},"UpdatedMmr":{"Rating":1.3887846199116023,"Variance":0.096233531649979609,"LastModified[...]
