---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/hw2/packs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - '"9R8dufiLCiqaGPGBWZFobfCU9V8="'
      E2eactivity:
      - VAU6vGhyVESeNQ/nz9+5lQ==,VAU6vGhyVESeNQ/nz9+5lQ==
      X-343-Authorization-Policy:
      - public
      X-Last-Rendered-At:
      - '2018-07-18T21:35:28.8238327Z'
      X-Last-Rendered-Item:
      - '378066'
    body:
      encoding: UTF-8
      string: '{"Paging":{"StartAt":0,"InlineCount":45,"TotalCount":45},"ContentItems":[{"Id":378066,"Type":"HW2Pack","View":{"Status":"Published","Common":{"Owner":"gehaugan","CreatedUtc":"2018-05-24T20:01:30Z","ModifiedUtc":"2018-07-18T21:35:26Z","PublishedUtc":"2018-07-18T21:35:26Z","Container":-1},"Identity":"e79df31fbf334c72833b662a990ab321","Title":"Daily
        Login Pack 3 Cards","HW2Pack":{"HW2PackRules":[{"Id":202590,"Type":"HW2PackRule","Identity":"6970e64b52c44acda5cb736001c90270"},{"Id":202590,"Type":"HW2PackRule","Identity":"6970e64b52c44acda5cb736001c90270"},{"Id":202590,"Type":"HW2PackRule","Identity":"6970e64b52c44acda5cb736001c90270"}],"FrontImageHD":{"Id":202456,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"v-caarse","CreatedUtc":"2016-11-23T09:36:05Z","ModifiedUtc":"2017-01-09T18:39:00Z","PublishedUtc":"2017-01-09T18:39:01Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/store/HaloWars2/PackFinal/pack_daily_front-a80d769e4f364fbca1235e014d957d76.png","MimeType":"image/png","Caption":"","AlternateText":"","FolderPath":"store/HaloWars2/PackFinal","FileName":"pack_daily_front-a80d769e4f364fbca1235e014d957d76.png"},"Image":{"Width":536,"Height":736},"Title":"pack_daily_front-a80d769e4f364fbca1235e014d957d76","Identity":"ce5ad358dc064679b9fa91c699ced58a"}},"BackImageHD":{"Id":201772,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"v-caarse","CreatedUtc":"2016-11-23T10:22:21Z","ModifiedUtc":"2017-01-09T18:37:15Z","PublishedUtc":"2017-01-09T18:37:16Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/store/HaloWars2/PackFinal/pack_blitz_back-9f9a641391774e42949dcc5b648e78a7.png","MimeType":"image/png","Caption":"","AlternateText":"","FolderPath":"store/HaloWars2/PackFinal","FileName":"pack_blitz_back-9f9a641391774e42949dcc5b648e78a7.png"},"Image":{"Width":536,"Height":736},"Title":"pack_blitz_back-9f9a641391774e42949dcc5b648e78a7","Identity":"6a5e364b64334cb590a738fc357c6d3b"}},"BackImage4K":{"Id":201774,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"v-caarse","CreatedUtc":"2016-11-23T10:22:22Z","ModifiedUtc":"2017-01-09T18:37:15Z","PublishedUtc":"2017-01-09T18:37:16Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/store/HaloWars2/PackFinal/pack_blitz_back_4k-f7342fddba7c44ac865d335f4cf21b8e.png","MimeType":"image/png","Caption":"","AlternateText":"","FolderPath":"store/HaloWars2/PackFinal","FileName":"pack_blitz_back_4k-f7342fddba7c44ac865d335f4cf21b8e.png"},"Image":{"Width":812,"Height":1116},"Title":"pack_blitz_back_4k-f7342fddba7c44ac865d335f4cf21b8e","Identity":"eacbd8d6c714498da5dafff885aea428"}},"HighlightImageHD":{"Id":201770,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"v-caarse","CreatedUtc":"2016-11-23T10:22:25Z","ModifiedUtc":"2017-01-09T18:37:14Z","PublishedUtc":"2017-01-09T18:37:15Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/store/HaloWars2/PackFinal/pack_blitz_focus-f97955bc322846a5802309c3d65f43cf.png","MimeType":"image/png","Caption":"","AlternateText":"","FolderPath":"store/HaloWars2/PackFinal","FileName":"pack_blitz_focus-f97955bc322846a5802309c3d65f43cf.png"},"Image":{"Width":536,"Height":736},"Title":"pack_blitz_focus-f97955bc322846a5802309c3d65f43cf","Identity":"55c93e7c8313462a88b796e89ea8bfd4"}},"HighlightImage4K":{"Id":201773,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"v-caarse","CreatedUtc":"2016-11-23T10:22:26Z","ModifiedUtc":"2017-01-09T18:37:15Z","PublishedUtc":"2017-01-09T18:37:16Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/store/HaloWars2/PackFinal/pack_blitz_focus_4k-325f134a899849c3908c90c8fa3ac33c.png","MimeType":"image/png","Caption":"","AlternateText":"","FolderPath":"store/HaloWars2/PackFinal","FileName":"pack_blitz_focus_4k-325f134a899849c3908c90c8fa3ac33c.png"},"Image":{"Width":812,"Height":1116},"Title":"pack_blitz_focus_4k-325f134a899849c3908c90c8fa3ac33c","Identity":"1cd7821cd5f54ad69d178d545a56fe7d"}},"FrontImage4K":{"Id":202455,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"v-caarse","CreatedUtc":"2016-11-23T09:36:06Z","ModifiedUtc":"2017-01-09T18:39:00Z","PublishedUtc":"2017-01-09T18:39:01Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/store/HaloWars2/PackFinal/pack_daily_front_4k-c042e4e95e684c8783672c23b0c72270.png","MimeType":"image/png","Caption":"","AlternateText":"","FolderPath":"store/HaloWars2/PackFinal","FileName":"pack_daily_front_4k-c042e4e95e684c8783672c23b0c72270.png"},"Image":{"Width":812,"Height":1116},"Title":"pack_daily_front_4k-c042e4e95e684c8783672c23b0c72270","Identity":"1469a67f63084571a95f5bdcc2c9afd1"}},"StackGroup":null,"InventorySortPriority":50,"DisplayInfo":{"Id":202130,"Type":"HW2PackDisplayInfo","View":{"Status":"Published","HW2PackDisplayInfo":{"Name":"Daily
        Reward Pack","Description":"This bonus pack contains 3 random Blitz cards.
        Earn a new pack each day that you play!"},"BatchLocalization":{"IsLocked":false},"Localization":{"Culture":"en","MasterContentItemId":""},"Title":"Daily
        Login Pack Text","Common":{"Owner":"v-caarse","CreatedUtc":"2016-11-16T13:02:42Z","ModifiedUtc":"2017-02-03T18:35:09Z","PublishedUtc":"2018-07-18T21:35:25Z","Container":-1},"Identity":"14484e765eae46478a67720c4b44e0fa"}},"MarketplaceProductId":"","UWPProductId":""}},"Links":[{"Absolute":false,"Relation":"Self","URI":"/content/378066"}],"ChildrenCount":0},{"Id":375724,"Type":"HW2Pack","View":{"Status":"Published","Common":{"Owner":"gehaugan","CreatedUtc":"2018-05-25T00:42:58Z","ModifiedUtc":"2018-06-07T21:19:01Z","PublishedUtc":"2018-06-07T21:19:01Z","Container":-1},"Identity":"b54db9f12aa64d8b905cb585cc817ebb","Title":"E3
        Daily Login Pack","HW2Pack":{"HW2PackRules":[{"Id":202590,"Type":"HW2PackRule","Identity":"6970e64b52c44acda5cb736001c90270"},{"Id":202590,"Type":"HW2PackRule","Identity":"6970e64b52c44acda5cb736001c90270"},{"Id":202[...]
