---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/hw2/playlist/282fc197-7bf1-4865-81ec-a312d07567b6/rating?players=xarly%20bovi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - D+jv+3apvkiBgpFjIolj0A==
    body:
      encoding: UTF-8
      string: '{"Results":[{"Id":"xarly bovi","ResultCode":0,"Result":{"Mmr":{"Rating":0.0,"Variance":1.0,"LastModifiedDate":{"ISO8601Date":""}},"Csr":null}}],"Links":{"Self":{"AuthorityId":"spartanstats","Path":"/hw2/playlist/282fc197-7bf1-4865-81ec-a312d07567b6/rating","QueryString":"?players=xarly%20bovi","RetryPolicyId":"","TopicName":"","AcknowledgementTypeId":0,"AuthenticationLifetimeExtensionSupported":false,"ClearanceAware":false}}}'
  recorded_at: Wed, 04 Aug 2021 21:17:42 GMT
recorded_with: VCR 6.0.0
