---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/hw2/players/xarly%20bovi/matches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - dOkUCb8k20+F8EwIZ6GzMQ==
    body:
      encoding: UTF-8
      string: '{"Start":0,"Count":25,"ResultCount":0,"Results":[],"Links":{}}'
  recorded_at: Wed, 04 Aug 2021 17:45:36 GMT
recorded_with: VCR 6.0.0
