---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/hw2/players/xarly%20bovi/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - r7iXZ64sKkywDseqa1Y/ZQ==
    body:
      encoding: UTF-8
      string: "{\r\n  \"CustomSummary\": {\r\n    \"SkirmishStats\": {\r\n      \"SinglePlayerStats\":
        {\r\n        \"PlaylistId\": null,\r\n        \"PlaylistClassification\":
        null,\r\n        \"HighestCsr\": null,\r\n        \"TotalTimePlayed\": \"\",\r\n
        \       \"TotalMatchesStarted\": 0,\r\n        \"TotalMatchesCompleted\":
        0,\r\n        \"TotalMatchesWon\": 0,\r\n        \"TotalMatchesLost\": 0,\r\n
        \       \"TotalPointCaptures\": 0,\r\n        \"TotalUnitsBuilt\": 0,\r\n
        \       \"TotalUnitsLost\": 0,\r\n        \"TotalUnitsDestroyed\": 0,\r\n
        \       \"TotalCardPlays\": 0,\r\n        \"HighestWaveCompleted\": 0,\r\n
        \       \"LeaderStats\": {},\r\n        \"GameMode\": null,\r\n        \"HighestObjectiveScoreByTeamSize\":
        {}\r\n      },\r\n      \"MultiplayerStats\": {\r\n        \"PlaylistId\":
        null,\r\n        \"PlaylistClassification\": null,\r\n        \"HighestCsr\":
        null,\r\n        \"TotalTimePlayed\": \"\",\r\n        \"TotalMatchesStarted\":
        0,\r\n        \"TotalMatchesCompleted\": 0,\r\n        \"TotalMatchesWon\":
        0,\r\n        \"TotalMatchesLost\": 0,\r\n        \"TotalPointCaptures\":
        0,\r\n        \"TotalUnitsBuilt\": 0,\r\n        \"TotalUnitsLost\": 0,\r\n
        \       \"TotalUnitsDestroyed\": 0,\r\n        \"TotalCardPlays\": 0,\r\n
        \       \"HighestWaveCompleted\": 0,\r\n        \"LeaderStats\": {},\r\n        \"GameMode\":
        null,\r\n        \"HighestObjectiveScoreByTeamSize\": {}\r\n      },\r\n      \"SinglePlayerModeStats\":
        [],\r\n      \"MultiplayerModeStats\": []\r\n    },\r\n    \"CustomStats\":
        {\r\n      \"PlaylistId\": null,\r\n      \"PlaylistClassification\": null,\r\n
        \     \"HighestCsr\": null,\r\n      \"TotalTimePlayed\": \"\",\r\n      \"TotalMatchesStarted\":
        0,\r\n      \"TotalMatchesCompleted\": 0,\r\n      \"TotalMatchesWon\": 0,\r\n
        \     \"TotalMatchesLost\": 0,\r\n      \"TotalPointCaptures\": 0,\r\n      \"TotalUnitsBuilt\":
        0,\r\n      \"TotalUnitsLost\": 0,\r\n      \"TotalUnitsDestroyed\": 0,\r\n
        \     \"TotalCardPlays\": 0,\r\n      \"HighestWaveCompleted\": 0,\r\n      \"LeaderStats\":
        {},\r\n      \"GameMode\": null,\r\n      \"HighestObjectiveScoreByTeamSize\":
        {}\r\n    },\r\n    \"CustomModeStats\": []\r\n  },\r\n  \"MatchmakingSummary\":
        {\r\n    \"SocialPlaylistStats\": [],\r\n    \"RankedPlaylistStats\": [],\r\n
        \   \"SocialModeStats\": [],\r\n    \"RankedModeStats\": []\r\n  }\r\n}"
  recorded_at: Wed, 04 Aug 2021 17:41:47 GMT
recorded_with: VCR 6.0.0
