---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/hw2/seasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - '"TlL9OWWfVK79ao6mpxEgqVu1pS8="'
      E2eactivity:
      - A4YjbqAr1Eyyf3LDWrjqLQ==,A4YjbqAr1Eyyf3LDWrjqLQ==
      X-343-Authorization-Policy:
      - public
      X-Last-Rendered-At:
      - '2020-08-13T20:03:18.0000820Z'
      X-Last-Rendered-Item:
      - '398862'
    body:
      encoding: UTF-8
      string: '{"Paging":{"StartAt":0,"InlineCount":17,"TotalCount":17},"ContentItems":[{"Id":398860,"Type":"HW2Season","View":{"Status":"Published","Common":{"Owner":"v-danbre","CreatedUtc":"2020-08-13T16:44:45Z","ModifiedUtc":"2020-08-13T19:59:56Z","PublishedUtc":"2020-08-13T19:59:57Z","Container":-1},"Identity":"85230310c1ab4da6a177e2a3da97ca2d","Title":"Season
        15 - TAKE DIRECTLY TO PROD","HW2Season":{"StartDate":"2020-08-13T20:00:00Z","DisplayInfo":{"Id":398865,"Type":"HW2SeasonDisplayInfo","View":{"Status":"Published","Common":{"Owner":"v-danbre","CreatedUtc":"2018-02-28T22:02:26Z","ModifiedUtc":"2018-03-07T22:25:55Z","PublishedUtc":"2020-08-13T16:59:35Z","Container":-1},"Identity":"538599d7a7a748dd81938b07fb9c4b22","Title":"Season
        Display Info - Season 15 - HW2 Season Display Info","HW2SeasonDisplayInfo":{"Name":"Season
        15","Description":""},"BatchLocalization":{"IsLocked":false},"Localization":{"Culture":"en","MasterContentItemId":""}}},"Image":{"Id":398861,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"mjordan","CreatedUtc":"2020-08-13T16:45:29Z","ModifiedUtc":"2020-08-13T16:45:29Z","PublishedUtc":"2020-08-13T16:45:29Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/games/halo-wars-2/seasons/hogan_season_ship_master_15-b8954a58c10e4bf880319f48e38d0cb1.png","MimeType":"image/png","Caption":"","AlternateText":"","FolderPath":"games/halo-wars-2/seasons","FileName":"hogan_season_ship_master_15-b8954a58c10e4bf880319f48e38d0cb1.png"},"Image":{"Width":416,"Height":316},"Title":"hogan_season_ship_master_15-b8954a58c10e4bf880319f48e38d0cb1","Identity":"d0e30850c18f4b029a81835e7315a497"}},"Playlists":[{"Id":364480,"Type":"HW2Playlist","Identity":"4a2cedcc90984728886f60649896278d","Autoroute":"hw2/playlists/7b011a5d-8e8e-4f4a-8229-e4db0779f927/copied-2017-10-11_05-57-42"},{"Id":378081,"Type":"HW2Playlist","Identity":"379f9ee592ec45d9b5e59f30236cab00","Autoroute":"hw2/playlists/fdee2fdf-86a8-466c-b3f3-c4d9cf08f7ba/copied-2017-07-18_10-14-08/copied-2018-07-17_04-35-19"},{"Id":372549,"Type":"HW2Playlist","Identity":"548d864e8666430e91408dd2ad8fbfcd","Autoroute":"hw2/playlists/d91919ff-ac39-435d-bf20-2317c2577569/copied-2017-07-18_10-12-46/copied-2018-03-01_06-22-04"},{"Id":372552,"Type":"HW2Playlist","Identity":"effd096578b24c65a0d0afc193c98f4a","Autoroute":"hw2/playlists/40a95835-61c4-4ebc-b4ea-8a399230e817/copied-2018-03-02_06-44-06"},{"Id":372551,"Type":"HW2Playlist","Identity":"02df2dd493084470a6a5578cca17987b","Autoroute":"hw2/playlists/1c1ce947-fdae-4e4e-a98d-ff889af1d0cb/copied-2017-07-13_10-11-24/copied-2018-03-02_06-40-57"},{"Id":372550,"Type":"HW2Playlist","Identity":"2b69cc168cd745febf3cb2b360d50296","Autoroute":"hw2/playlists/ba94f862-2f05-474f-b405-4e4dd3a34a10/copied-2017-04-06_09-27-21/copied-2017-06-20_10-45-53/copied-2017-09-18_03-52-09/copied-2018-03-02_06-52-31"}],"Image4K":{"Id":398862,"Type":"Image","View":{"Status":"Published","Common":{"Owner":"mjordan","CreatedUtc":"2020-08-13T16:45:30Z","ModifiedUtc":"2020-08-13T16:45:30Z","PublishedUtc":"2020-08-13T16:45:30Z","Container":-1},"Media":{"MediaUrl":"https://content.halocdn.com/media/Default/games/halo-wars-2/seasons/hogan_season_ship_master_15_4k-19d0ecad872944b7a75519065adb2273.png","MimeType":"image/png","Caption":"","AlternateText":"","FolderPath":"games/halo-wars-2/seasons","FileName":"hogan_season_ship_master_15_4k-19d0ecad872944b7a75519065adb2273.png"},"Image":{"Width":832,"Height":632},"Title":"hogan_season_ship_master_15_4k-19d0ecad872944b7a75519065adb2273","Identity":"4794315b49ab40448cefac19800ace36"}},"CsrSettings":{"Id":376618,"Type":"SeasonCsrSettings","View":{"Status":"Published","Common":{"Owner":"mimalyuk","CreatedUtc":"2018-06-07T15:11:26Z","ModifiedUtc":"2018-06-19T23:13:25Z","PublishedUtc":"2018-06-19T23:13:25Z","Container":-1},"Identity":"add424a3aa894943b0f4be72e8f9cd00","Title":"HW2
        - start 100 back, max initial: 1700, Champ: 1600","SeasonCsrSettings":{"ProStartingCsr":1600,"MaxInitialCsr":1700,"InitialCsrAdjustment":100}}}}},"Links":[{"Absolute":false,"Relation":"Self","URI":"/content/398860"}],"ChildrenCount":0},{"Id":394002,"Type":"HW2Season","View":{"Status":"Published","Common":{"Owner":"v-danbre","CreatedUtc":"2019-12-16T18:48:35Z","ModifiedUtc":"2019-12-16T19:21:18Z","PublishedUtc":"2019-12-16T19:21:18Z","Container":-1},"Identity":"07336d1912b24eb39c778e43745f1a25","Title":"Season
        14 - TAKE DIRECTLY TO PROD","HW2Season":{"StartDate":"2019-12-16T08:00:00Z","DisplayInfo":{"Id":393987,"Type":"HW2SeasonDisplayInfo","View":{"Status":"Published","Common":{"Owner":"v-danbre","CreatedUtc":"2018-[...]
