---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/metadata/hw2/techs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - '"LKmy17DWlnEMrrqzhGOoQ+Ipy3Q="'
      E2eactivity:
      - WXmdd63dYE6I5iReCULg9g==,WXmdd63dYE6I5iReCULg9g==
      X-343-Authorization-Policy:
      - public
      X-Last-Rendered-At:
      - '2017-09-25T18:05:16.5685543Z'
      X-Last-Rendered-Item:
      - '349716'
    body:
      encoding: UTF-8
      string: '{"Paging":{"StartAt":0,"InlineCount":100,"TotalCount":163},"ContentItems":[{"Id":360001,"Type":"HW2Tech","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-09-05T10:23:56Z","ModifiedUtc":"2017-09-25T18:03:11Z","PublishedUtc":"2017-09-25T18:03:12Z","Container":-1},"Identity":"4b4adee6568443beb800bcca1c4226e8","Autoroute":"hw2/tech/unsc_barricade_bunker_upgrade01","Title":"BUNKER
        BARRICADE","HW2Tech":{"ObjectTypeId":"unsc_barricade_bunker_upgrade01","DisplayInfo":{"Id":358483,"Type":"HW2TechDisplayInfo","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-09-05T10:23:56Z","ModifiedUtc":"2017-09-25T17:42:53Z","PublishedUtc":"2017-09-25T17:42:53Z","Container":-1},"Identity":"3092fcb9e9914d9bb2f3d27263402f80","BatchLocalization":{"IsLocked":false},"Localization":{"Culture":"en","MasterContentItemId":""},"Title":"BUNKER
        BARRICADE Display Info","HW2TechDisplayInfo":{"Name":"BUNKER BARRICADE","Description":"A
        barricade that can be garrisoned by infantry."}}},"Image":{}}},"Links":[{"Absolute":false,"Relation":"Self","URI":"/content/360001"}],"ChildrenCount":0},{"Id":360002,"Type":"HW2Tech","View":{"Status":"Published","Common":{"Owner":"v-chreng","CreatedUtc":"2017-09-05T10:23:57Z","ModifiedUtc":"2017-09-25T18:03:12Z","PublishedUtc":"2017-09-25T18:03:12Z","Container":-1},"Identity":"8df98f0aa1d74c3ba8bdb65b219f8cd2","Autoroute":"hw2/tech/unsc_barricade_nanobot_upgrade01","Title":"REGEN
        BARRICADE","HW2Tech":{"ObjectTypeId":"unsc_barricade_nanobot_upgrade01","DisplayInfo":{"Id":358484,"Type":"HW2TechDisplayInfo","View":{"Status":"Published","[...]
