---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/companies/%20a34823e3-1772-4675-9731-28de0db87df5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"datetime'2021-07-12T06%3A36%3A43.0633488Z'"
      E2eactivity:
      - 6xZK7QTrS0qzAICBBH3ByQ==
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"Id\": \"a34823e3-1772-4675-9731-28de0db87df5\",\r\n  \"Name\":
        \"Clout\",\r\n  \"Creator\": {\r\n    \"Gamertag\": \"Chopstyx\",\r\n    \"Xuid\":
        null\r\n  },\r\n  \"PeakMembershipCount\": 38,\r\n  \"SuspendedUntilDate\":
        {\r\n    \"ISO8601Date\": \"1601-01-01T00:00:00Z\"\r\n  },\r\n  \"Members\":
        [\r\n    {\r\n      \"Player\": {\r\n        \"Gamertag\": \"Bahndy\",\r\n
        \       \"Xuid\": null\r\n      },\r\n      \"Role\": 0,\r\n      \"JoinedDate\":
        {\r\n        \"ISO8601Date\": \"2019-06-14T00:00:00Z\"\r\n      },\r\n      \"LastModifiedDate\":
        {\r\n        \"ISO8601Date\": \"2020-03-23T00:00:00Z\"\r\n      }\r\n    },\r\n
        \   {\r\n      \"Player\": {\r\n        \"Gamertag\": \"Eliminaire\",\r\n
        \       \"Xuid\": null\r\n      },\r\n      \"Role\": 0,\r\n      \"JoinedDate\":
        {\r\n        \"ISO8601Date\": \"2019-04-18T00:00:00Z\"\r\n      },\r\n      \"LastModifiedDate\":
        {\r\n        \"ISO8601Date\": \"2020-03-23T00:00:00Z\"\r\n      }\r\n    },\r\n
        \   {\r\n      \"Player\": {\r\n     [...]
