---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/companies/%20a34823e3-1772-4675-9731-28de0db87df5/commendations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - 0HfhSTYR2UyIoQAPr01d/g==
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"Links\": {\r\n    \"Self\": {\r\n      \"AuthorityId\": \"spartanstats\",\r\n
        \     \"Path\": \"/h5/companies/%20a34823e3-1772-4675-9731-28de0db87df5/commendations\",\r\n
        \     \"QueryString\": \"\",\r\n      \"RetryPolicyId\": \"\",\r\n      \"TopicName\":
        \"\",\r\n      \"AcknowledgementTypeId\": 0,\r\n      \"AuthenticationLifetimeExtensionSupported\":
        false,\r\n      \"ClearanceAware\": false\r\n    }\r\n  },\r\n  \"ProgressiveCommendations\":
        [\r\n    {\r\n      \"Id\": \"740fbb3b-5a5f-4691-88c9-7795e9218e37\",\r\n
        \     \"Progress\": 1026000,\r\n      \"CompletedLevels\": [\r\n        {\r\n
        \         \"Id\": \"4a2c48ca-187b-45a9-8a8c-07efdd66b524\",\r\n          \"CompletedDateUtc\":
        {\r\n            \"ISO8601Date\": \"2019-03-20T00:00:00Z\"\r\n          }\r\n
        \       },\r\n        {\r\n          \"Id\": \"014affce-f242-49aa-99c9-f2115970cddd\",\r\n
        \         \"CompletedDateUtc\": {\r\n            \"ISO8601Date\": \"2019-05-09T00:00:00Z\"\r\n
        \         }\r\n        },\r\n        {\r\n          \"Id\": \"c1210fad-fa95-4927-bb02-e1fb331108d6\",\r\n
        \         \"CompletedDateUtc\": {\r\n            \"ISO8601Date\": \"2019-07-03T00:00:00Z\"\r\n
        \         }\r\n        },\r\[...]
