---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/matches/dd53912c-5ca3-4167-900a-10a78a7c94b7/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - MJO6tFCr/0ywa7paGWnu3A==
    body:
      encoding: ASCII-8BIT
      string: '{"GameEvents":[{"RoundIndex":0,"TimeSinceStart":"PT0.0850351S","EventName":"RoundStart"},{"Player":{"Gamertag":"DarknessM1","Xuid":null},"WeaponAttachmentIds":[1095363701],"WeaponStockId":313138863,"TimeSinceStart":"PT19.14602S","EventName":"WeaponPickup"},{"Player":{"Gamertag":"DarknessM1","Xuid":null},"WeaponAttachmentIds":[2758383128],"WeaponStockId":4096745987,"TimeSinceStart":"PT19.14602S","EventName":"WeaponPickup"},{"Player":{"Gamertag":"DarknessM1","Xuid":null},"TimeSinceStart":"PT19.1470201S","EventName":"PlayerSpawn"},{"Player":{"Gamertag":"GrizzlyMagnum","Xuid":null},"WeaponAttachmentIds":[1095363701],"WeaponStockId":313138863,"TimeSinceStart":"PT19.1600013S","EventNam[...]
