---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/arena/matches/dd53912c-5ca3-4167-900a-10a78a7c94b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - 1KAxhmxTMEaLp+C7iCD4Kw==
    body:
      encoding: ASCII-8BIT
      string: '{"PlayerStats":[{"XpInfo":{"PrevSpartanRank":28,"SpartanRank":28,"PrevTotalXP":301666,"TotalXP":303952,"SpartanRankMatchXPScalar":1.86,"PlayerTimePerformanceXPAward":580,"PerformanceXP":99,"PlayerRankXPAward":50,"BoostAmount":500,"MatchSpeedWinAmount":0,"ObjectivesCompletedAmount":0},"PreviousCsr":{"Tier":6,"DesignationId":1,"Csr":0,"PercentToNextTier":44,"Rank":null},"CurrentCsr":{"Tier":6,"DesignationId":1,"Csr":0,"PercentToNextTier":70,"Rank":null},"MeasurementMatchesLeft":0,"RewardSets":[{"RewardSet":"ec0042e4-e06b-4c7b-8c03-d05000dbbd36","RewardSourceType":2,"SpartanRankSource":null,"CommendationLevelId":"8ebe5547-02e9-4521-992a-b61ebcef5489","CommendationSource":"be522e1e-eada-4ec7-aba9-7ee0c0d6732a"}],"KilledOpponentDetails":[{"GamerTag":"Vmax50er","TotalKills":3},{"GamerTag":"DarknessM1","TotalKills":1},{"GamerTag":"GrizzlyMagnum","TotalKills":4},{"GamerTag":"OneLung12","TotalKills":1}],"KilledByOpponentDetails":[{"GamerTag":"Vmax50er","TotalKills":4},{"GamerTag":"OneLung12","TotalKills":4},{"GamerTag":"DarknessM1","TotalKills":1},{"GamerTag":"GrizzlyMagnum","TotalKills":2}],"FlexibleStats":{"MedalStatCounts":[],"ImpulseStatCounts":[{"Id":"ba327946-418c-495d-90c0-89f084bf7447","Count":9},{"Id":"7dcd7306-f905-401a-97f2-345d4b25170a","Count":6},{"Id":"ea38d25f-d887-4bdf-b17b-8e8e649b9a87","Count":11},{"Id":"a1d97ad4-c1d9-4807-b619-ca3710cc5a8d","Count":0},{"Id":"3465eba1-608c-47d7-9cb6-ef4c7a55a2dd","Count":1},{"Id":"780104cb-5b86-4ed9-8fb1-40b919de0766","Count":0},{"Id":"a5a0d0d5-5c9f-4888-b42a-2c87f8e58336","Count":0},{"Id":"71ce2293-23bb-492f-a8c0-46e095b55eb7","Count":1},{"Id":"ba1b0043-3a1e-4894-a04f-f8d889103ec5","Count":0}],"MedalTimelapses":[],"ImpulseTimelapses":[{"Id":"f1c317ee-1ac4-4089-85e8-a9c536c6cf18","Timelapse":"PT8M41.2070211S"}]},"CreditsEarned":{"Result":2,"TotalCreditsEarned":774,"SpartanRankModifier":1.0,"PlayerRankAmount":250,"TimePlayedAmount":523.12071906932,"BoostAmount":0,"MatchSpeedWinAmount":0,"ObjectivesCompletedAmount":0},"MetaCommendationDeltas":[],"ProgressiveCommendationDeltas":[{"Id":"20dc7d74-be8f-4a60-ae4f-15230855cced","PreviousProgress":2231,"Progress":2240},{"Id":"6d0d92dc-59a8-430c-9cd1-9e024e35a514","PreviousProgress":107,"Progress":109},{"Id":"07653860-9949-4a12-b341-90c8b9653165","PreviousProgress":306,"Progress":307},{"Id":"8594ca5e-6f59-4e21-b601-406111fa2b58","PreviousProgress":39,"Progress":40},{"Id":"3c357b49-4860-48b7-9d92-dfdfd9931b49","PreviousProgress":147,"Progress":149},{"Id":"61217e0a-832e-487b-9f3b-51b36a6803c7","PreviousProgress":649,"Progress":650},{"Id":"5f0fb4c9-19e6-44bf-a751-f254a5de8adc","PreviousProgress":73,"Progress":74},{"Id":"e1203a73-2067-4479-9a47-2abccb0069ae","PreviousProgress":100,"Progress":101},{"Id":"1f8a93a3-6e1f-4f48-afe2-5ce1c44f2458","PreviousProgress":337,"Progress":338},{"Id":"ab7c2b82-1c4b-4ba8-accf-0dfc5cf2ff77","PreviousProgress":110,"Progress":111},{"Id":"d3b6b1ce-c5f0-4cbf-b443-ca76c2917b77","PreviousProgress":97,"Progress":98},{"Id":"be522e1e-eada-4ec7-aba9-7ee0c0d6732a","PreviousProgress":0,"Progress":1}],"BoostInfo":{"DefinitionId":"1f7bd827-6090-4185-a2bf-7d0e1ac77a09","CardConsumed":true},"Player":{"Gamertag":"LiftedGosling29","Xuid":null},"TeamId":0,"Rank":4,"DNF":false,"AvgLifeTimeOfPlayer":"PT34.4758206S","PreMatchRatings":null,"PostMatchRatings":null,"PlayerScore":null,"GameEndStatus":3,"TotalKills":9,"TotalHeadshots":1,"TotalWeaponDamage":1222.5579532384872,"TotalShotsFired":352,"TotalShotsLanded":117,"WeaponWithMostKills":{"WeaponId":{"StockId":723388907,"Attachments":[]},"TotalShotsFired":170,"TotalShotsLanded":57,"TotalHeadshots":0,"TotalKills":2,"TotalDamageDealt":444.890100479126,"TotalPossessionTime":"PT2M23.9166S"},"TotalMeleeKills":0,"TotalMeleeDamage":144.39999771118164,"TotalAssassinations":1,"TotalGroundPoundKills":0,"TotalGroundPoundDamage":0.0,"TotalShoulderBashKills":1,"TotalShoulderBashDamage":115.95980072021484,"TotalGrenadeDamage":156.14481735229492,"TotalPowerWeaponKills":1,"TotalPowerWeaponDamage":248.29212510585785,"TotalPowerWeaponGrabs":1,"TotalPowerWeaponPossessionTime":"PT38.1333S","TotalDeaths":11,"TotalAssists":6,"TotalGamesCompleted":0,"TotalGamesWon":0,"TotalGamesLost":0,"TotalGamesTied":0,"TotalTimePlayed":"PT8M41.2070211S","TotalGrenadeKills":1,"MedalAwards":[{"MedalId":3261908037,"Count":1},{"MedalId":2782465081,"Count":1},{"MedalId":3400287617,"Count":1},{"MedalId":2251767925,"Count":1},{"MedalId":2078758684,"Count":1},{"MedalId":3270120991,"Count":1},{"MedalId":298813630,"Count":1}],"DestroyedEnemyVehicles":[],"EnemyKills":[],"WeaponStats":[{"WeaponId":{"StockId":4096745987,"Attachments":[]},"TotalShotsFired":0,"TotalShotsLanded":0,"TotalHeadshots":0,"TotalKills":0,"TotalDamageDealt":0.0,"TotalPossessionTime":"PT16.2501S"},{"WeaponId":{"StockId":424645655,"Attachments":[]},"TotalShotsFired":75,"TotalShotsLanded":25,"TotalHeadshots":1,"TotalKills":2,"TotalDamageDealt":213.13090515136719,"TotalPossessionTime":"PT1M7.0834S"},{"WeaponId":{"StockId":313138863,"Attachments":[]},"TotalShotsFired":68,"TotalShotsLanded":23,"TotalHeadshots"[...]
