---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5pc/players/xarly%20bovi/matches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - qVXjBlo41E+rlVjHp+ZRhw==
    body:
      encoding: UTF-8
      string: '{"Start":0,"Count":25,"ResultCount":0,"Results":[],"Links":{"Self":{"AuthorityId":"spartanstats","Path":"/h5pc/players/xarly%20bovi/matches","QueryString":"?include-xuids=false&view=full&include-ratings=false","RetryPolicyId":"","TopicName":"","AcknowledgementTypeId":0,"AuthenticationLifetimeExtensionSupported":false,"ClearanceAware":false}}}'
  recorded_at: Wed, 04 Aug 2021 21:13:00 GMT
recorded_with: VCR 6.0.0
