---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/players/xarly%20bovi/commendations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - n2pyGItW1EGfnvLsy0oweQ==
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"Links\": {\r\n    \"Self\": {\r\n      \"AuthorityId\": \"spartanstats\",\r\n
        \     \"Path\": \"/h5/players/xarly%20bovi/commendations\",\r\n      \"QueryString\":
        \"\",\r\n      \"RetryPolicyId\": \"\",\r\n      \"TopicName\": \"\",\r\n
        \     \"AcknowledgementTypeId\": 0,\r\n      \"AuthenticationLifetimeExtensionSupported\":
        false,\r\n      \"ClearanceAware\": false\r\n    }\r\n  },\r\n  \"ProgressiveCommendations\":
        [\r\n    {\r\n      \"Id\": \"69052722-1fd7-469d-8625-85723f7c5750\",\r\n
        \     \"Progress\": 2,\r\n      \"CompletedLevels\": []\r\n    },\r\n    {\r\n
        \     \"Id\": \"db6897f3-5f2d-44d4-959a-21f74ab0ac83\",\r\n      \"Progress\":
        1,\r\n      \"CompletedLevels\": []\r\n    },\r\n    {\r\n      \"Id\": \"9323eff5-3a3b-4c20-8a90-ea7f41aa0828\",\r\n
        \     \"Progress\": 1,\r\n      \"CompletedLevels\": []\r\n    },\r\n    {\r\n
        \     \"Id\": \"6813ed32-2d2d-4be5-93b9-5772e855dcbe\",\r\n      \"Progress\":
        1,\r\n      \"CompletedLevels\": []\r\n    },\r\n    {\r\n      \"Id\": \"1d32707e-9bbc-4cbe-af33-fdc0c8bd64b2\",\r\n
        \     \"Progress\": 25,\r\n      \"CompletedLevels\": [\r\n        {\r\n          \"Id\":
        \"70117fad-ab31-4d8f-a1d8-9dc6846862ee\",\r\n          \"CompletedDateUtc\":
        {\r\n            \"ISO8601Date\": \"2016-01-02T00:00:00Z\"\r\n          }\r\n
        \       }\r\n      ]\r\n    },\r\n    {\r\n      \"Id\": \"8a0bd0cc-d0a3-4d90-ac83-c785cf8f44af\",\r\n
        \     \"Progress\": 1,\r\n      \"CompletedLevels\": []\r\n    },\r\n    {\r\n
        \     \"Id\": \"858c8372-7879-4ee1-ba81-3213f1e9da0f\",\r\n      \"Progress\":
        1,\r\n      \"CompletedLevels\": []\r\n    },\r\n    {\r\n      \"Id\": \"20dc7d74-be8f-4a60-ae4f-15230855cced\",\r\n
        \     \"Progress\": 282,\r\n      \"[...]
