---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/players/xarly%20bovi/matches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - gxVorhJHkEuzrCovn0ytSA==
    body:
      encoding: ASCII-8BIT
      string: '{"Start":0,"Count":25,"ResultCount":25,"Results":[{"Links":{"StatsMatchDetails":{"AuthorityId":"spartanstats","Path":"h5/campaign/matches/dcc1adbe-2b1d-40ad-8d60-13b58c2d5291","QueryString":null,"RetryPolicyId":"exponentialretry","TopicName":"","AcknowledgementTypeId":0,"AuthenticationLifetimeExtensionSupported":false,"ClearanceAware":false}},"Id":{"MatchId":"dcc1adbe-2b1d-40ad-8d60-13b58c2d5291","GameMode":2},"HopperId":null,"MapId":"1c4f8e19-b046-4f78-9e2d-959cba84663d","MapVariant":null,"GameBaseVariantId":"00000003-0000-0010-8000-00aa00389b71","GameVariant":null,"MatchDuration":"PT7.5099892S","MatchCompletedDate":{"ISO8601Date":"2017-10-23T00:00:00Z"},"Teams":[],"Players":[{"Player":{"Gamertag":"Xarly
        Bovi","Xuid":null},"TeamId":9,"Rank":1,"Result":3,"TotalKills":0,"TotalDeaths":0,"TotalAssists":0,"PreMatchRatings":null,"PostMatchRatings":null}],"IsTeamGame":false,"SeasonId":"","MatchCompletedDateFidelity":1},{"Links":{"StatsMatchDetails":{"AuthorityId":"spartanstats","Path":"h5/campaign/matches/b05b2262-15ad-4093-9ab8-1373d4af9b63","QueryString":null,"RetryPolicyId":"exponentialretry","TopicName":"","AcknowledgementTypeId":0,"AuthenticationLifetimeExtensionSupported":false,"ClearanceAware":false}},"Id":{"MatchId":"b05b2262-15ad-4093-9ab8-1373d4af9b63","GameMode":2},"HopperId":null,"MapId":"1c4f8e19-b046-4f78-9e2d-959cba84663d","MapVariant":null,"GameBaseVariantId":"00000003-0000-0010-8000-00aa003[...]
