---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/servicerecords/custom?players=xarly%20bovi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - b8TvNGpV7UOfWr9T0p6N/g==
    body:
      encoding: UTF-8
      string: '{"Results":[{"Id":"xarly bovi","ResultCode":0,"Result":{"CustomStats":{"CustomGameBaseVariantStats":[],"TopGameBaseVariants":[],"TotalKills":0,"TotalHeadshots":0,"TotalWeaponDamage":0.0,"TotalShotsFired":0,"TotalShotsLanded":0,"WeaponWithMostKills":{"WeaponId":{"StockId":0,"Attachments":[]},"TotalShotsFired":0,"TotalShotsLanded":0,"TotalHeadshots":0,"TotalKills":0,"TotalDamageDealt":0.0,"TotalPossessionTime":""},"TotalMeleeKills":0,"TotalMeleeDamage":0.0,"TotalAssassinations":0,"TotalGroundPoundKills":0,"TotalGroundPoundDamage":0.0,"TotalShoulderBashKills":0,"TotalShoulderBashDamage":0.0,"TotalGrenadeDamage":0.0,"TotalPowerWeaponKills":0,"TotalPowerWeaponDamage":0.0,"TotalPowerWeaponGrabs":0,"TotalPowerWeaponPossessionTime":"","TotalDeaths":0,"TotalAssists":0,"TotalGamesCompleted":0,"TotalGamesWon":0,"TotalGamesLost":0,"TotalGamesTied":0,"TotalTimePlayed":"","TotalGrenadeKills":0,"MedalAwards":[],"DestroyedEnemyVehicles":[],"EnemyKills":[],"WeaponStats":[],"Impulses":[],"TotalSpartanKills":0,"FastestMatchWin":null},"PlayerId":{"Gamertag":"Xarly
        Bovi","Xuid":null},"SpartanRank":8,"Xp":28064}}],"Links":{"Self":{"AuthorityId":"spartanstats","Path":"/h5/servicerecords/custom","QueryString":"?players=xarly%20bovi&include-xuids=false&view=full","RetryPolicyId":"","TopicName":"","AcknowledgementTypeId":0,"AuthenticationLifetimeExtensionSupported":false,"ClearanceAware":false}}}'
  recorded_at: Wed, 04 Aug 2021 21:04:46 GMT
recorded_with: VCR 6.0.0
