---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/servicerecords/arena?players=xarly%20bovi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - 5O9I9Dk6x0+l171vhHwwTQ==
    body:
      encoding: ASCII-8BIT
      string: '{"Results":[{"Id":"xarly bovi","ResultCode":0,"Result":{"ArenaStats":{"ArenaPlaylistStats":[],"HighestCsrAttained":{"Tier":2,"DesignationId":3,"Csr":0,"PercentToNextTier":98,"Rank":null},"ArenaGameBaseVariantStats":[{"FlexibleStats":{"MedalStatCounts":[],"ImpulseStatCounts":[{"Id":"ba327946-418c-495d-90c0-89f084bf7447","Count":270},{"Id":"7dcd7306-f905-401a-97f2-345d4b25170a","Count":150},{"Id":"ea38d25f-d887-4bdf-b17b-8e8e649b9a87","Count":284},{"Id":"a1d97ad4-c1d9-4807-b619-ca3710cc5a8d","Count":1},{"Id":"3465eba1-608c-47d7-9cb6-ef4c7a55a2dd","Count":66},{"Id":"780104cb-5b86-4ed9-8fb1-40b919de0766","Count":7},{"Id":"a5a0d0d5-5c9f-4888-b42a-2c87f8e58336","Count":14},{"Id":"71ce2293-23bb-492f-a8c0-46e095b55eb7","Count":14},{"Id":"ba1b0043-3a1e-4894-a04f-f8d889103ec5","Count":0}],"MedalTimelapses":[],"ImpulseTimelapses":[{"Id":"f1c317ee-1ac4-4089-85e8-a9c536c6cf18","Timelapse":"PT3H35M39.9569079S"}]},"GameBaseVariantId":"257a305e-4dd3-41f1-9824-dfe7e8bd59e1","TotalKills":270,"TotalHeadshots":66,"TotalWeaponDamage":37971.14699113369,"TotalShotsFired":10309,"TotalShotsLanded":3501,"WeaponWithMostKills":{"WeaponId":{"StockId":313138863,"Attachments":[]},"TotalShotsFired":6275,"TotalShotsLanded":1946,"TotalHeadshots":0,"TotalKills":83,"TotalDamageDealt":15415.01082611084,"TotalPossessionTime":"PT1H29M31.1336S"},"TotalMeleeKills":38,"TotalMeleeDamage":5531.22959786281,"TotalAssassinations":5,"TotalGroundPoundKills":0,"TotalGroundPoundDamage":0.0,"TotalShoulderBashKills":3,"TotalShoulderBashDamage":390.73120594024658,"TotalGrenadeDamage":4848.0377076864243,"TotalPowerWeaponKills":23,"TotalPowerWeaponDamage":3016.1083626747131,"TotalPowerWeaponGrabs":14,"TotalPowerWeaponPossessionTime":"PT13M1.1666S","TotalDeaths":284,"TotalAssists":150,"TotalGamesCompleted":26,"TotalGamesWon":13,"TotalGamesLost":13,"TotalGamesTied":0,"TotalTimePlayed":"PT3H35M39.9569079S","TotalGrenadeKills":27,"MedalAwards":[{"MedalId":2966496172,"Count":4},{"MedalId":370413844,"Count":1},{"MedalId":2838259753,"Count":12},{"MedalId":285057226,"Count":6},{"MedalId":3261908037,"Count":58},{"MedalId":2078758684,"Count":12},{"MedalId":685960231,"Count":1},{"MedalId":2782465081,"Count":12},{"MedalId":3400287617,"Count":20},{"MedalId":298813630,"Count":3},{"MedalId":2287626681,"Count":32},{"MedalId":3698887726,"Count":1},{"MedalId":466059351,"Count":4},{"MedalId":250435527,"Count":6},{"MedalId":3270120991,"Count":1},{"MedalId":824733727,"Count":13},{"MedalId":3491849182,"Count":2},{"MedalId":352859864,"Count":2},{"MedalId":1326375333,"Count":3},{"MedalId":2430242797,"Count":6},{"MedalId":3001183151,"Count":3},{"MedalId":2251767925,"Count":2},{"MedalId":2279899989,"Count":1},{"MedalId":3786961025,"Count":1},{"MedalId":882267095,"Count":1},{"MedalId":2494364276,"Count":5},{"MedalId":1080468863,"Count":2},{"MedalId":3653057799,"Count":3},{"MedalId":194124164,"Count":1},{"MedalId":1691836029,"Count":1},{"MedalId":1986137636,"Count":1}],"DestroyedEnemyVehicles":[],"EnemyKills":[],"WeaponStats":[{"WeaponId":{"StockId":313138863,"Attachments":[]},"TotalShotsFired":6275,"TotalShotsLanded":1946,"TotalHeadshots":0,"TotalKills":83,"TotalDamageDealt":15415.01082611084,"TotalPossessionTime":"PT1H29M31.1336S"},{"WeaponId":{"StockId":4096745987,"Attachments":[]},"TotalShotsFired":574,"TotalShotsLanded":225,"TotalHeadshots":17,"TotalKills":25,"TotalDamageDealt":4009.2999243736267,"TotalPossessionTime":"PT20M40.967S"},{"WeaponId":{"StockId":2681172411,"Attachments":[]},"TotalShotsFired":58,"Total[...]
