---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/servicerecords/campaign?players=xarly%20bovi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - NXJghM2Y3UedosHYyKOmeQ==
    body:
      encoding: ASCII-8BIT
      string: '{"Results":[{"Id":"xarly bovi","ResultCode":0,"Result":{"CampaignStat":{"CampaignMissionStats":[{"FlexibleStats":{"MedalStatCounts":[],"ImpulseStatCounts":[{"Id":"6751fae0-c17e-423f-9d3a-6446b6e58d15","Count":0}],"MedalTimelapses":[],"ImpulseTimelapses":[]},"CoopStats":{},"SoloStats":{"3":{"HighestScore":0,"FastestCompletionTime":"PT57M35.9941S","Skulls":[],"TotalTimesCompleted":1,"AllSkullsOn":false}},"MissionId":"1c4f8e19-b046-4f78-9e2d-959cba84663d","TotalKills":190,"TotalHeadshots":55,"TotalWeaponDamage":33071.137591421604,"TotalShotsFired":2429,"TotalShotsLanded":1353,"WeaponWithMostKills":{"WeaponId":{"StockId":424645655,"Attachments":[]},"TotalShotsFired":1071,"TotalShotsLanded":597,"TotalHeadshots":43,"TotalKills":59,"TotalDamageDealt":6411.8318862915039,"TotalPossessionTime":"PT28M8.1998S"},"TotalMeleeKills":4,"TotalMeleeDamage":467.90001106262207,"TotalAssassinations":1,"TotalGroundPoundKills":0,"TotalGroundPoundDamage":0.0,"TotalShoulderBashKills":1,"TotalShoulderBashDamage":244.59996795654297,"TotalGrenadeDamage":1431.8559238910675,"TotalPowerWeaponKills":55,"TotalPowerWeaponDamage":13553.067668914795,"TotalPowerWeaponGrabs":0,"TotalPowerWeaponPossessionTime":"PT17M31.5665S","TotalDeaths":30,"TotalAssists":0,"TotalGamesCompleted":3,"TotalGamesWon":3,"TotalGamesLost":0,"TotalGamesTied":0,"TotalTimePlayed":"PT1H9M43.0889994S","TotalGrenadeKills":11,"MedalAwards":[],"DestroyedEnemyVehicles":[{"Enemy":{"BaseId":4028516791,"Attachments":[]},"TotalKills":1}],"EnemyKills":[{"Enemy":{"BaseId":2631958027,"Attachments":[]},"TotalKills":97},{"Enemy":{"BaseId":2497647768,"Attachments":[]},"TotalKills":74},{"Enemy":{"BaseId":123080854,"Attachments":[]},"TotalKills":18}],"WeaponStats":[{"WeaponId":{"StockId":424645655,"Attachments":[]},"TotalShotsFired":1071,"TotalShotsLanded":597,"TotalHeadshots":43,"TotalKills":59,"TotalDamageDealt":6411.8318862915039,"TotalPossessionTime":"PT28M8.1998S"},{"WeaponId":{"StockId":4096745987,"Attachments":[]},"TotalShotsFired":6,"TotalShotsLanded":3,"TotalHeadshots":1,"TotalKills":1,"TotalDamageDealt":127.29999542236328,"TotalPossessionTime":"PT1M19.2666S"},{"WeaponId":{"StockId":2681172411,"Attachments":[]},"TotalShotsFired":283,"TotalShotsLa[...]
