---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/stats/h5/servicerecords/warzone?players=xarly%20bovi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - uO3mWGEYbEeG0kFaeB1KmQ==
    body:
      encoding: ASCII-8BIT
      string: '{"Results":[{"Id":"xarly bovi","ResultCode":0,"Result":{"WarzoneStat":{"TotalPiesEarned":115,"ScenarioStats":[{"TotalPiesEarned":115,"FlexibleStats":{"MedalStatCounts":[{"Id":"65df9735-86e1-48b3-a286-08b1d8af9c81","Count":1},{"Id":"06ba69fe-3208-4a3e-821e-c92cbad89042","Count":0},{"Id":"3cc3c9a3-c9cc-4c42-991a-c7b91085eefb","Count":0},{"Id":"dfe11eb0-6064-4cbe-98fe-502be1e03a80","Count":0},{"Id":"d69d04f8-ef9b-4f2a-bacc-beef99c27e40","Count":2},{"Id":"f838413e-2bd4-4f21-990a-e9ddcb167d64","Count":1}],"ImpulseStatCounts":[{"Id":"d0913791-f9bd-4d81-839d-1f3dfe293729","Count":0},{"Id":"ba327946-418c-495d-90c0-89f084bf7447","Count":7},{"Id":"7dcd7306-f905-401a-97f2-345d4b25170a","Count":11},{"Id":"ea38d25f-d887-4bdf-b17b-8e8e649b9a87","Count":11},{"Id":"63783dc0-7c2d-436a-bd5b-22da2f4705d4","Count":1},{"Id":"6240aca5-0dbb-44d0-9ce2-3a9e9319113e","Count":0},{"Id":"eb1c4f47-18b7-45df-a145-a1126048c3d8","Count":0},{"Id":"759e130c-4ace-460b-bfe4-2cd05a1b974b","Count":0}],"MedalTimelapses":[],"ImpulseTimelapses":[]},"MapId":"c8d69870-f206-11e4-b477-24be05e24f7e","GameBaseVariantId":"f6de5351-3797-41e9-8053-7fb111a3a1a0","TotalKills":12,"TotalHeadshots":5,"TotalWeaponDamage":1871.3118352890015,"TotalShotsFired":582,"TotalShotsLanded":199,"WeaponWithMostKills":{"WeaponId":{"StockId":313138863,"Attachments":[]},"TotalShotsFired":310,"TotalShotsLanded":78,"TotalHeadshots":0,"TotalKills":3,"TotalDamageDealt":638.79967212677,"TotalPossessionTime":"PT4M20.1333S"},"TotalMeleeKills":0,"TotalMeleeDamage":115.0,"TotalAssassinations":1,"TotalGroundPoundKills":0,"TotalGroundPoundDamage":0.0,"TotalShoulderBashKills":0,"TotalShoulderBashDamage":0.0,"TotalGrenadeDamage":184.60003662109375,"TotalPowerWeaponKills":0,"TotalPowerWeaponDamage":0.0,"TotalPowerWeaponGrabs":0,"TotalPowerWeaponPossessionTime":"PT0S","TotalDeaths":11,"TotalAssists":11,"TotalGamesCompleted":1,"TotalGamesWon":0,"TotalGamesLost":1,"TotalGamesTied":0,"TotalTimePlayed":"PT13M46.0070143S","TotalGrenadeKills":1,"MedalAwards":[{"MedalId":2947060439,"Count":2},{"MedalId":1862589993,"Count":1},{"MedalId":4164420745,"Count":1},{"MedalId":3406254250,"Count":1},{"MedalId":1021972251,"Count":9},{"MedalId":2787661404,"Count":1},{"MedalId":1584076385,"Count":1},{"MedalId":2009141709,"Count":2},{"MedalId":824733727,"Count":2},{"MedalId":2766284219,"Count":1},{"MedalId":3261908037,"Count":1},{"MedalId":1080468863,"Count":2},{"MedalId":2966496172,"Count":1},{"MedalId":3505254118,"Count":2},{"MedalId":3392925967,"Count":1},{"MedalId":3400287617,"Count":1}],"DestroyedEnemyVehicles":[],"EnemyKills":[{"Enemy":{"BaseId":2631958027,"Attachments":[]},"TotalKills":2},{"Enemy":{"BaseId":3134866799,"Attachments":[]},"TotalKills":1},{"Enemy":{"BaseId":2957796559,"Attachments":[3884815574]},"TotalKills":1},{"Enemy":{"BaseId":724440388,"Attachments":[]},"TotalKills":1}],"WeaponStats":[{"WeaponId":{"StockId":313138863,"Attachments":[]},"TotalShotsFired":310,"TotalShotsLanded":78,"TotalHeadshots":0,"TotalKills":3,"TotalDamageDealt":638.79967212677,"TotalPossessionTime":"PT4M20.1333S"},{"WeaponId":{"StockId":4106030681,"Attachments":[]},"TotalShotsFired":14,"TotalShotsLanded":7,"TotalHeadshots":0,"TotalKills":1,"TotalDamageDealt":184.60003662109375,"TotalPossessionTime":"PT0S"},{"WeaponId":{"StockId":4096745987,"Attachments":[]},"TotalShotsFired":76,"TotalShotsLanded":26,"TotalHeadshots":1,"TotalKills":2,"TotalDamageDealt":364.70001411437988,"TotalPossessionTime":"PT3M1.2832S"},{"WeaponId":{"StockId":4108759423,"Attachments":[]},"TotalShotsFired":26,"TotalShotsLanded":12,"TotalHeadshots":1,"TotalKills":2,"TotalDamageDealt":137.21211242675781,"TotalPossessionTime":"PT48.15S"},{"WeaponId":{"StockId":424645655,"Attachments":[]},"TotalShotsFired":156,"TotalShotsLanded":76,"TotalHeadshots":3,"TotalKills":3,"TotalDamageDealt":546.0,"TotalPossessionTime":"PT2M29.5333S"},{"WeaponId":{"StockId":3168248199,"Attachments":[]},"TotalShotsFired":0,"TotalShotsLanded":0,"TotalHeadshots":0,"TotalKills":1,"TotalDamageDealt":115.0,"TotalPossessionTime":"PT0S"}],"Impulses":[{"Id":3711392074,"Count":1},{"Id":991142198,"Count":1},{"Id":3174430457,"Count":2},{"Id":4282237376,"Count":2}],"TotalSpartanKills":7,"FastestMatchWin":null}],"TotalKills":12,"TotalHeadshots":5,"TotalWeaponDamage":1871.3118352890015,"TotalShotsFired":582,"TotalShotsLanded":199,"WeaponWithMostKills":{"WeaponId":{"StockId":313138863,"Attachments":[]},"TotalShotsFired":310,"TotalShotsLanded":78,"TotalHeadshots":0,"TotalKills":3,"TotalDamageDealt":638.79967212677,"TotalPossessionTime":"PT4M20.1333S"},"TotalMeleeKills":0,"TotalMeleeDamage":115.0,"TotalAssassinations":1,"TotalGroundPoundKills":0,"TotalGroundPoundDamage":0.0,"TotalShoulderBashKills":0[...]
