---
http_interactions:
- request:
    method: get
    uri: https://www.haloapi.com/profile/h5/profiles/xarly%20bovi/appearance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HALO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      E2eactivity:
      - v2k4nRRYeU2I4yJ0pmWp6g==
    body:
      encoding: UTF-8
      string: "{\r\n  \"Gamertag\": \"Xarly Bovi\",\r\n  \"LastModifiedUtc\": {\r\n
        \   \"ISO8601Date\": \"2019-05-24T00:00:00Z\"\r\n  },\r\n  \"FirstModifiedUtc\":
        {\r\n    \"ISO8601Date\": \"2015-10-31T00:00:00Z\"\r\n  },\r\n  \"ServiceTag\":
        \"BOVI\",\r\n  \"Company\": null\r\n}"
  recorded_at: Wed, 04 Aug 2021 21:08:48 GMT
recorded_with: VCR 6.0.0
